
body {
    background:#eee;
    padding: 10px;
    overflow: hidden;
}

table {
    word-wrap: break-word;
}

table td {
    max-width: 150px;
}

#drawing {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    margin: auto;
}

#color{
    height: 20px;
    width: 20px;
}

#magnifier{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#magcanvas{
    margin-top: 5px;
    border: 1px solid gray;
}

#canvas{
    visibility: hidden;
}

#pos{
    font-size: xx-small;
}

#btns_left{
    width: 100%;
}

#btns_left button {
    margin-bottom: 15px;
}


#btns_left span{
    font-size: 9pt;
}
