
body {
    background:#eee;
    padding: 10px;
    overflow: hidden;
}

#drawing {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    width: 1131px;
    height: 800px;
    margin: auto;
}

#color{
    height: 20px;
    width: 20px;
}

#magnifier{
    width: 200px;
    height: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#magcanvas{
    margin-top: 5px;
}

#canvas{
    visibility: hidden;
}

#pos{
    font-size: xx-small;
}
