
body {
    background:#eee;
    padding: 10px;
    overflow: hidden;
}

table {
    word-wrap: break-word;
}

table td {
    max-width: 131px;
}
table thead th {
    width: 100%;
}

.col-7-5 {
    width: 62.4975%;
    flex: 0 0 62.4975%;
}

.col-2-5 {
    width: 20.8325%;
    flex: 0 0 20.8325%;
}

.col-1-5 {
    width: 12.4995%;
    flex: 0 0 12.4995%;
}

.col-7-5, .col-2-5, .col-1-5 {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    box-sizing: border-box;
    min-height: 1px;
}

#drawing {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    margin: auto;
}

#color{
    height: 20px;
    width: 20px;
}

#magnifier{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#magcanvas{
    margin-top: 5px;
    border: 1px solid gray;
}

#canvas{
    visibility: hidden;
}

#pos{
    font-size: xx-small;
}

#btns_left{
    width: 100%;
}

#btns_left button {
    margin-bottom: 15px;
}


#btns_left span{
    font-size: 9pt;
}
