<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>LiMo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/analyze.css" th:href="@{/css/analyze.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <link rel="stylesheet" media="screen" href="../static/css/bootstrap-select.min.css" th:href="@{/css/bootstrap-select.min.css}"/>

    <link rel="stylesheet" media="screen" href="../static/css/application.css" th:href="@{/css/application.css}"/>

    <script src="/js/analyze.js" th:href="@{/js/analyze.js}"></script>

    <script src="/js/svg.js" th:href="@{/js/svg.js}"></script>

    <script src="/js/svg.draw.js" th:href="@{/js/svg.draw.js}"></script>
    <script src="/js/svg.panzoom.js" th:href="@{/js/svg.panzoom.js}"></script>
    <script src="/js/svg.filter.js" th:href="@{/js/svg.filter.js}"></script>

    <script src="/js/flood-fill.js" th:href="@{/js/flood-fill.js}"></script>
    <script src="/js/bucket.js" th:href="@{/js/bucket.js}"></script>


    <script src="/js/rgbcolor.js" th:href="@{/js/rgbcolor.js}"></script>
    <script src="/js/StackBlur.js" th:href="@{/js/StackBlur.js}"></script>

    <script src="/js/canvg.js" th:href="@{/js/canvg.js}"></script>

    <script src="/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>

    <script src="/js/bootstrap.bundle.min.js" th:href="@{/js/bootstrap.bundle.min.js}"></script>

    <script src="/js/bootstrap-select.min.js" th:href="@{/js/bootstrap-select.min.js}"></script>
</head>

<body>


<div class="row">
</div>

<div class="row">
    <div class="col-2">

        <span th:text="${'Aktuelle Datei: ' + filename}"></span>

        <table id="species" class="table">
            <thead>
                <tr><th>Gattung</th>
                    <th>Fläche (mm^2)</th>
                    <th>Farbe</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div class="btn-group btn-group-vertical" role="group" aria-label="...">

            <div class="input-group">
                <select data-width="200px" class="selectpicker test" id="speciesselect" data-live-search="true">


                    <th:block th:each="entry: ${lichen}">

                        <optgroup th:label="${entry.key}">

                            <th:block th:each="name: ${entry.value}">
                                <option th:attr="data-tokens=${entry.key}" th:text="${name}"></option>
                            </th:block>

                        </optgroup>
                    </th:block>
                </select>
                <button type="button" class="btn btn-outline-info" onclick="addSpecies()">Gattung hinzufügen</button>
            </div>

            <br>

            <br>

            <button type="button" class="btn btn-outline-success" th:onclick="${'javascript:download(''' + filename + '_ergebnisse.csv'')'}">Ergebnisse exportieren</button>

            <br>

            <input type="button" class="btn btn-outline-warning" onclick="location.href='../';" value="Upload a new slide" />
        </div>

    </div>

    <div class="col-8">

        <div id="drawing"></div>

        <div id="pos"></div>

        <div id="results"></div>


        <br>
        <br>
        <br>

        <canvas id="canvas" width="1000px" height="600px"></canvas>

    </div>

    <div class="col-2">

        <div class="btn-group btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-outline-secondary" onclick="undo()">Rückgängig</button>
            <br>

            <div class="input-group">
                <label for="tolerance">Füll-Schwellwert:&nbsp;</label>

                <span class="input-group-btn">
                    <input type="number" id="tolerance" value="80" min="0" max="150"/>
                </span>

            </div>
        </div>

        <div id="magnifier">

            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <button id="zoom2" type="button" class="btn btn-outline-primary" onclick="setZoom(2)">2x</button>
                    <button id="zoom4" type="button" class="btn btn-outline-secondary" onclick="setZoom(4)">4x</button>
                    <button id="zoom6" type="button" class="btn btn-outline-secondary" onclick="setZoom(6)">6x</button>
                </div>
            </div>

            <canvas id="magcanvas" width="200px" height="200px"></canvas>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-12">
    </div>
</div>

</body>

<script>
    // prevent accidentally closing the tab

    //window.onbeforeunload = function(e) {
    //    return 'Dialog text here.';
    //};
</script>


<script>
    $('.selectpicker').selectpicker({
        style: 'btn btn-info'
    });

    var c = 0;
    var cols = ['#A52A2A',
        '#5F9EA0',
        '#D2691E',
        '#f4c742',
        '#006400',
        '#9932CC',
        '#00ad0d',
        '#000080'];


    function nextColor() {
        if (c < cols.length){
            return cols[c++];
        }

        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }


    var species = [];
    var current = -1;
    var nextid = 0;
    fills = [];

    function addSpecies() {

        var e = document.getElementById("speciesselect");
        var name = e.options[e.selectedIndex].text;

        addSpeciesToTable(name);
    }

    function addSpeciesToTable(name) {

        var spec = {};
        spec.name = name;
        spec.color = nextColor();
        spec.id = nextid;
        nextid++;

        species.push(spec);

        current = species.length - 1;
        displaySpecies();
    }

    // 1200x800px: 289790
    var factor = 584937/(200*200); // px^2 / mm ^2

    function addArea(px) {
        var area = px/factor;

        fills.push([species[current].id, area]);
        console.log("added " + px + "px^2 " + area + "mm^2 to " + species[current].name);
        displaySpecies();
    }

    function getCurrentColor(){

        // this is the first function called upon click, so init a new species here
        if(current === -1){
            addSpeciesToTable("Unknown");
        }

        return species[current].color;
    }

    function undoAddArea() {
        fills.pop();
        displaySpecies();
    }

    function getthallicount(id) {
         var total = 0;

        for(var i = 0 ; i < fills.length; i++){
            if(fills[i][0] === id){
                total++;
            }
        }

        return total;
    }

    function getarea(id) {

        var total = 0;

        for(var i = 0 ; i < fills.length; i++){
            if(fills[i][0] === id){
                total += fills[i][1];

            }
        }

        return Math.round(total);
    }

    function displaySpecies() {
        var spec_table = document.getElementById("species");
        spec_table.getElementsByTagName('tbody')[0].innerHTML = "";
        var body = spec_table.getElementsByTagName('tbody')[0];

        for(var i = 0; i < species.length; i++) {

            var row = body.insertRow(0);
            row.classList.add("clickablerow");
            row.id = species[i].id;

            var color = row.insertCell(0);
            var area = row.insertCell(0);
            var name = row.insertCell(0);

            name.innerText = species[i].name;
            area.innerText = getarea(species[i].id);
            color.style.backgroundColor = species[i].color;

            if (i === current) {
                row.style.backgroundColor = "#5d97aa";
            }
        }

        // select species from table
        jQuery(document).ready(function($) {
            $(".clickablerow").click(function() {

                var id = $(this).attr("id");
                current = parseInt(id); // current is equivalent to the position in the species list, which is the same as the id
                console.log("current is " + id + " " + species[id].name);

                displaySpecies(); // speed up by only change background colors

            });
        });

    }

    function showresults(){
        var results = [];
        results.push("id;Gattung;Art;Fläche [mm^2]; Fläche [%]; Anzahl Thalli; Farbe [RGB]");

        for(var i = 0; i < species.length; i++) {
            var tmp = "";
            var area = getarea(species[i].id);
            var count = getthallicount(species[i].id);


            tmp += species[i].id;
            tmp += ";";
            tmp += species[i].name;
            tmp += ";";
            tmp += species[i].name;
            tmp += ";";
            tmp += area;
            tmp += ";";
            tmp += 100*area/(200*200);
            tmp += ";";
            tmp += count;
            tmp += ";";
            tmp += species[i].color;
            tmp += ";";

            results.push(tmp);
        }

        return results.join("\n");
    }

    function download(filename) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + showresults());
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    }
</script>


<script th:inline="javascript" async="async">
    /*<![CDATA[*/
    'use strict';

    //prevent firefox image drag
    $(document).on("dragstart", function() {
        return false;
    });


    var svg = SVG("drawing").size(1131,800);
    var img = svg.image([[${imagepath}]], 1131, 800);


    var XMLS = new XMLSerializer();
    var inp_xmls = XMLS.serializeToString(svg.node);

    var can = document.getElementById("canvas");
    var ctx = can.getContext('2d');

    var s = canvg('canvas', inp_xmls, {ignoreMouse: true, ignoreAnimation: true});
    s.stop();
    s.draw();

    var zoomlevel = 2;

    function undo() {
        // delete most recent image
        var last = svg.last();

        if(svg.index(last) > 1) {
            last.remove();
            drawDown();
            s.draw();
        }

        undoAddArea();
    }

    function KeyPress(e) {
        var evtobj = window.event? event : e;
        if (evtobj.keyCode === 90 && evtobj.ctrlKey) undo();
    }

    document.onkeydown = KeyPress;

    document.addEventListener('mousewheel',function(event){
        event.preventDefault();

        var element = document.getElementById("tolerance");
        var curr = parseInt(element.value);

        if(event.deltaY < 0) {
            // console.log("up");
            curr += 1;
        } else {
            // console.log("down");
            curr -= 1;
        }

        if(curr < 0) curr = 0;
        if(curr > 150) curr = 150;

        element.value = curr;
        element.style.backgroundColor = "#ff874f";

        setTimeout(function() {
            element.style.backgroundColor = "";
        }, 500);

        return false;
    }, false);



    //draw lines
    const option = {
        stroke: '#0300ff',
        'stroke-width': 2,
        'fill-opacity': 0
    };

    var line = null;

    svg.on('mousedown', function (event) {
        if(event.ctrlKey) {
            line = svg.polyline().attr(option);
            line.draw(event);
        }
    });

    svg.on('mousemove', function (event) {
        if (line) {
            line.draw('point', event);
        }
    });

    svg.on('mouseup', function (event) {
        if (line) {
            line.draw('stop', event);

            drawDown();
            addArea(0);
        }
    });


    svg.on('click', function (event) {

        // stop default actions
        event.preventDefault();

        // draw new image on lower canvas
        s.draw();

        var col = getCurrentColor();
        var cfg = {};
        cfg.tolerance = parseInt(document.getElementById("tolerance").value);

        // do bucket fill on lower canvas
        var bucket = Bucket(can, cfg, event, col);

        if(bucket.area > 0){
            addArea(bucket.area);
        }

        // get image from lower canvas
        var current = svg.image(can.toDataURL());

        // update upper svg from lower canvas, overlay new image
        current.node.onload = function () {
            drawDown();

        };

        //reload zoom div
        //$('SvgjsSvg1001').trigger('mousemove');

    });


    var zoomCtx = document.getElementById("magcanvas").getContext('2d');
    zoomCtx.imageSmoothingEnabled = false;
    zoomCtx.webkitImageSmoothingEnabled = false;
    zoomCtx.msImageSmoothingEnabled = false;


    svg.on('mousemove', function (event) {

        var x = event.pageX - 350; //TODO set relative value
        var y = event.pageY;

        document.getElementById("pos").innerText = "Position: " + x  + ":"  + y;

        // var pixelData = ctx.getImageData(x, y, 200, 200).data;
        x = x - (100/zoomlevel) - 10;
        y = y - (100/zoomlevel) - 10;

        zoomCtx.drawImage(can,x,y,200/zoomlevel,200/zoomlevel,0,0,200,200);


        //crosshair
        zoomCtx.beginPath();
        zoomCtx.moveTo(100,70);
        zoomCtx.lineTo(100,130);
        zoomCtx.moveTo(70,100);
        zoomCtx.lineTo(130,100);
        zoomCtx.stroke();
    });

    svg.on('mouseout', function (event) {

        zoomCtx.clearRect(0,0,200,200);

    });


    function drawDown() {
        inp_xmls = XMLS.serializeToString(svg.node);
        s.loadXml(ctx, inp_xmls);
        s.stop();
    }

    function setZoom(val) {
        zoomlevel = val;

        for(var i = 2; i <= 6; i+=2){
            document.getElementById("zoom" + i).classList.remove("btn-outline-primary");
            document.getElementById("zoom" + i).classList.add("btn-outline-secondary");
        }

        document.getElementById("zoom" + val).classList.remove("btn-outline-secondary");
        document.getElementById("zoom" + val).classList.add("btn-outline-primary");
    }

</script>

</html>
