<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>LiMo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" media="screen" href="../static/css/analyze.css" th:href="@{/css/analyze.css}"/>
    <link rel="stylesheet" media="screen" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

    <script src="/js/analyze.js" th:href="@{/js/analyze.js}"></script>
    <script src="/js/floodFill2D.js" th:href="@{/js/floodFill2D.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.4/svg.js"></script>

    <script src="/js/svg.draw.js" th:href="@{/js/svg.draw.js}"></script>
    <script src="/js/svg.panzoom.js" th:href="@{/js/svg.panzoom.js}"></script>
    <script src="/js/svg.filter.js" th:href="@{/js/svg.filter.js}"></script>

    <script src="/js/flood-fill.js" th:href="@{/js/flood-fill.js}"></script>
    <script src="/js/bucket.js" th:href="@{/js/bucket.js}"></script>

    <script type="text/javascript" src="http://canvg.github.io/canvg/rgbcolor.js"></script>
    <script type="text/javascript" src="http://canvg.github.io/canvg/StackBlur.js"></script>
    <script src="/js/canvg.js" th:href="@{/js/canvg.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>



<div class="row">
    <div class="col-2">

        <span th:text="${imagepath}"></span>

        <table class="table table-hover table-striped">
            <tr><th>Species</th></tr>
            <tr><td>Foo</td></tr>
            <tr><td>bar</td></tr>
        </table>

        <div id="color"></div>


    </div>

    <div class="col-8">

        <div id="drawing"></div>
        <canvas id="canvas" width="1000px" height="600px"></canvas>

    </div>

    <div class="col-2"></div>
</div>

<div class="row">
    <div class="col-12">
    </div>
</div>

</body>



<script th:inline="javascript" async="async">
    /*<![CDATA[*/
    'use strict';

    var x_offset = 0;
    var y_offset = 0;

    //prevent firefox image drag
    $(document).on("dragstart", function() {
        return false;
    });


    var svg = SVG("drawing").size(1200,800);
    var img = svg.image([[${imagepath}]], 1200,800);


    var XMLS = new XMLSerializer();
    var inp_xmls = XMLS.serializeToString(svg.node);

    var can = document.getElementById("canvas");
    var ctx = can.getContext('2d');

    var s = canvg('canvas', inp_xmls, {ignoreMouse: true, ignoreAnimation: true});
    s.stop();


    //enable zoom
    // var zoom = svg.panZoom({zoomMin: 0.5, zoomMax: 20});


    //draw lines
    const option = {
        stroke: '#0300ff',
        'stroke-width': 2,
        'fill-opacity': 0
    };

    var line = null;

    svg.on('mousedown', function (event) {
        if(event.ctrlKey) {
            line = svg.polyline().attr(option);
            line.draw(event);
        }
    });

    svg.on('mousemove', function (event) {
        if (line) {
            line.draw('point', event);
        }
    });

    svg.on('mouseup', function (event) {
        if (line) {
            line.draw('stop', event);

            inp_xmls = XMLS.serializeToString(svg.node);
            s.loadXml(ctx, inp_xmls);
        }
    });

    // flood fill

    svg.on('click', function (event) {

        // stop default actions
        event.preventDefault();

        var pixelData = ctx.getImageData(event.offsetX, event.offsetY, 1, 1).data;
        document.getElementById("color").style.backgroundColor = "rgb(" + pixelData[0] + "," + pixelData[1] + "," + pixelData[2] + ")";

        var x = event.pageX - 350;
        var y = event.pageY;

        // console.log(x  + ":"  + y);

        // draw new image on lower canvas
        s.draw();

        // do bucket fill
        Bucket(can, {}, event);


        // get image from lower canvas
        var current = svg.image(can.toDataURL());

        // update upper svg from lower canvas, overlay new image
        current.node.onload = function () {
            inp_xmls = XMLS.serializeToString(svg.node);
            s.loadXml(ctx, inp_xmls);
        };

    });

</script>
</html>
